.content{
    margin-top: 150px;
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn-panel{
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 5px;
    background: rgb(3,194,177);
    border-radius: 20px;
    transition: all 1s;
}
a{
    text-decoration: none;
}
.btn-panel p{
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 5px black;
    font-family: 'Kanit-bold';
}
.btn-panel:hover{

    background: rgb(3,194,177);
    transition: all 0.3s;
    box-shadow: 1px 1px 30px rgb(113, 25, 253);

}