{% extends 'base_sesion2.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="columna">
    <div class="fila">
        <div class="contenedor anuncio">
            <h1> Ganancia Mensual: </h1>
            <p> {{ganancia_mensual}}$</p>
        </div>
        <div class="contenedor advertencia">
            <h1> Perdida Mensual: </h1>
            <p>{{perdida_mensual}}$</p>
        </div>
        
        <div class="contenedor">
            <h1> Numero Clientes Mensuales: </h1>
            <p>{{cliente_mensual}}</p>
        </div>
        <div class="contenedor anuncio">
            <h1> Producto mas vendido: </h1>
            <p class="producto">{{producto_mas_vendido.nombre}}</p>
        </div>
    </div>
    <div class="fila">
        <div class="contenedor"></div>
        <div class="contenedor"></div>
    </div>
</div>


{% endblock%}