{% extends 'base.html' %}
{% block content %}
<div class="container-cards">
    <div class="card">
        <div class="cabecera">
            <h1>¡Bienvenido!</h1>
        </div>
        <p>Simplifique su vida financiera y optimice su negocio con nuestra solución fácil de usar. Con nuestro
            software, puede automatizar tareas tediosas y reducir errores, lo que le permite centrarse en lo que
            realmente importa: hacer crecer su negocio. Descubra cómo nuestra plataforma puede ayudarlo a tomar
            decisiones informadas y mejorar la eficiencia de su empresa.</p>
    </div>
    <div class="card">
        <div class="cabecera c2">
            <h1>Productividad</h1>
        </div>
        <p>Con nuestra plataforma, podrá gestionar sus finanzas de manera eficiente, desde la contabilidad hasta la
            gestión de facturas y el seguimiento de gastos. Además, ofrecemos una amplia variedad de informes
            personalizados para que pueda tener una visión clara de la salud financiera de su empresa. Nuestro equipo
            altamente capacitado está disponible para brindarle soporte técnico y resolver cualquier problema que pueda
            tener. ¿Está listo para llevar su negocio al siguiente nivel? </p>
    </div>
</div>

{% endblock %}