<style>
    .Tabla{
        display: flex;
        width: 95%;
        margin: 10px;
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(175, 175, 175);
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .Tabla table{
        width: 95%;
        height: 100%;
        margin-left: 10px;
        border-radius: 20px;
        border: 1px solid black;
    }
    .Tabla table thead{
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
    .Tabla table tfoot{
        font-size: small;
        border: 1px solid black;
    }

    .cabecera{
        width: 95%;
        height: 50px;
        margin: 20px;
        display: flex;
        background-color: rgb(170, 170, 170);
        align-items: center;
        justify-content: space-around;
        border-radius: 50px;
    }
    .text-center {
        text-align: center;
        font-weight: bold;
    }

    .text-end {
        text-align: right;
    }

    @media print {
        @page {
            size: letter portrait;
        }
    }

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
</style>
<div class="cabecera">
    <h3 class="text-center">Orden de Compra</h3>
    <h3>Orden N°: {{orden.numero_orden}}</h3>
</div>
<p>Fecha: {{datos_generales.fecha_actual}}</p>
<p>Nombre del proveedor: {{datos_generales.nombre_proveedor}}</p>
<p>Numero de telefono del proveedor: {{datos_generales.numero_telefono}}</p>
<div class="Tabla">
    <table>
        <thead>
            <th> Nombre</th>
            <th> Precio</th>
            <th> Cantidad</th>
            <th> Subtotal Producto</th>
        </thead>
        <tbody>
            {% for producto in datos %}
            <th> {{producto.producto}}</th>
            <th> {{producto.precio}}</th>
            <th> {{producto.cantidad}}</th>
            <th> {{producto.subtotal_producto}}</th>
            {% endfor %}
        </tbody>
        <tfoot>
            <th>MONTO TOTAL A GASTAR:</th>
            <th> {{datos_generales.monto}}</th>
            <th>PRESUPUESTO:</th>
            <th> {{datos_generales.presupuesto}}</th>
        </tfoot>
    </table>

</div>