{% extends 'base_sesion2.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/jquery-3.5.1.js'%}"></script>
<script src="{% static 'js/jquery.dataTables.min.js'%}"></script>

<link rel="stylesheet" href="{% static 'css/items.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'js/dataTables.bootstrap5.min.js'%}"></script>

<script src="{% static 'js/items.js'%}"></script>


<div class="content">
    <form method="POST">
        <div class="añadirCliente">
            <label class="Titulo">
                <h1>Añadir Cliente</h1>
            </label>
            {% csrf_token %}
            <p>{{status}}</p>
            <br>
            <p>Nombre</p>
            <input class="entradaDatos" type="text" name="nombre" id="nombre" placeholder="Ingrese nombre cliente">
            <br>
            <p> Cedula / RIF </p>
            <input class="entradaDatos" type="number" name="cidrif" id="cidrif"
               placeholder="Ingrese numero cedula / rif">
            <div class="botones">
                <input class="anadir" type="submit" value=" Agregar ">
            </div>


        </div>
    </form>

    <div class="tablaProductos">
        <label class="Titulo c2">
            <h1>Tabla Clientes</h1>
        </label>
        <br>
        <p>Has click en el nombre del producto para editar</p>
        <br>
        <div class="table-responsive-sm ">
            <table class="table  table-dark table-striped-columns table-bordered" id="tabla-prod">
                <thead>
                    <tr>
                        <th class="centrado">Nombre</th>
                        <th class="centrado">CI / RIF</th>
                        <th class="centrado">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr>
                        <th><a href="{% url 'editcliente' cliente.id %}">{{cliente.nombre}}</a></th>
                        <th><a href="{% url 'editcliente' cliente.id %}"">{{cliente.ci_rif}}</a></th>
                        <th><a href="{% url 'eliminarcliente' cliente.id %}"> <img src="{% static 'img/eliminar.svg'%}"></a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            
    </div>
</div>

{% endblock %}