<style>
    .text-center {
        text-align: center;
        font-weight: bold;
    }

    .text-end {
        text-align: right;
    }

    @media print {
        @page {
            size: 3.1in;
            margin: 5px;
        }
    }

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
</style>
<body>

    <h3 class="text-center">{{datos_empresa.nombre}}</h3>
<h4 class="text-center">{{datos_empresa.direccion}}</h4>
<h4 class="text-center"> CI/RIF:{{datos_empresa.ci_rif}}</h4>
<p> N* DE FACTURA = {{datos.numero_factura}} </p>
<p>FECHA = {{datos.fecha}}</p>
<p>CLIENTE = {{datos.cliente}}</p>
<p>FORMA DE PAGO = {{datos.forma_de_pago}}</p>
<p>REFERENCIA = {{datos.referencia}}</p>
<p>USUARIO EMITOR = {{datos.usuario}}</p>
<p>-----------------------------------------------------------------</p>

<br>

{% for productos in contenido %}
<p>{{productos.cantidad}} * Bs. {{productos.precio}}</p>
<p>{{productos.nombre}}</p>
<p class="text-end">Bs. {{productos.subtotal}}</p>
{% endfor %}
<p>-----------------------------------------------------------------</p>

<p>EXENTO =Bs. {{total.total_excento}}</p>
<p>IVA = Bs. {{total.iva}}</p>
<p>SUBTOTAL CON IVA = Bs. {{total.subtotal_sin_excento_con_iva}}</p>
<p>-----------------------------------------------------------------</p>
<p>TOTAL = Bs. {{total.total}}</p>
</body>

